<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/api/document/" method="post" enctype="multipart/form-data">
    <div>
        <label for="productId">Product ID:</label>
        <input type="text" id="productId" name="productId" required>
    </div>
    <div>
        <label for="file">Choose PDF file:</label>
        <input type="file" id="file" name="document" accept="application/pdf" required>
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>
</body>
</html>